body {
    background-color: rosybrown;
    margin: 0; 
}

.content {
    display: flex; 
    margin: 20px;
}

.content-left {
    width: 60%; 
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.content-right {
    width: 30%; 
    display: inline-block;
    vertical-align: top; 
}


.profile-image {
    width: 100%; 
    height: auto;
    border-radius: 8px;
}

.music-image {
    width: 30%;
    border-radius: 8px;
    margin-top: 10px;
}
